extends common/layout

block body
  .list-container
    .list-main
      p.list-info #{lang.search_info}
      ul.list.box
        li
          p
            a(href='/resource/1f48a4c9b56382d965f8e75be2b4108010b36dac' target='_blank')
              em 周
              em 星
              em 驰
          p
            span 文件类型：rmvb
            span 文件大小：12.69 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/5c48626f08f88fb52c4072ddcdbae0b06581cd49' target='_blank')
              em 周
              em 星
              em 驰
          p
            span 文件类型：rmvb
            span 文件大小：11.87 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/ca65754dc77e68ac6d485cdf648f826658467314' target='_blank')
              | 〖
              em 周
              em 星
              em 驰
              | 专辑〗
          p
            span 文件类型：avi
            span 文件大小：48.35 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/3a18a42f1d4de355e6167ca1f582dbbd7ccf3607' target='_blank')
              | 合集_
              em 周
              em 星
              em 驰
          p
            span 文件类型：mkv
            span 文件大小：54.09 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/7d17e55f8183b3b195dacb14e6f3e6584f8bc90b' target='_blank')
              em 周
              em 星
              em 驰
              | 电影
          p
            span 文件类型：mkv
            span 文件大小：18.82 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/1b9f60efd2653d5127102938644b39292211b164' target='_blank')
              em 周
              em 星
              em 驰
              | 专集
          p
            span 文件类型：mkv
            span 文件大小：79.71 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/59270b8c38e25205bed550f9bc90d26c599ecdbb' target='_blank')
              | -==
              em 周
              em 星
              em 驰
              | 系列==-
          p
            span 文件类型：avi
            span 文件大小：54.66 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/e0a18525054992d0047205c2769796a23b8994ec' target='_blank')
              em 周
              em 星
              em 驰
              |  高清合集
          p
            span 文件类型：mkv
            span 文件大小：104.29 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/88e1a6137396d30827d06b098f5f83d86addf9bf' target='_blank')
              em 周
              em 星
              em 驰
              |  高清合集
          p
            span 文件类型：mkv
            span 文件大小：104.65 GB
            span 收录时间：2年前
        li
          p
            a(href='/resource/523cbc5ab3f5ca2b424a2d0d2829231aec3aa6e3' target='_blank')
              em 周
              em 星
              em 驰
              | 高清合集
          p
            span 文件类型：mkv
            span 文件大小：104.29 GB
            span 收录时间：2年前
      #page.list-pagination
    .list-sidebar
      .list-declare.box
        | !{lang.declareText}

block foot
  script.
    var keyword = '#{keyword}';
    var currentPage = '#{currentPage}';
    var totalPages = '20';
  script(src='/pc/js/jqPaginator.min.js')
  script(src='/pc/js/list.js')